<h1>JOIN US</h1>

<p>Enter your Email to join <strong><%=totalUsers%></strong> others on our waitlist</p>

<form method="POST" action="/register">
    <input type="email" name="email" placeholder="Enter your Email" required>
    <button>Join Now</button>
</form>